
.page_form
  %h2 Ajoutez une page
  = simple_form_for @page do |f|
    = f.input :fb_id, class: "fb-page-id"
    .pull-right= f.submit "Ajouter", class: "submit btn btn-success"
    .clearfix
  

.page-list
  - @pages.each do |page|
    = link_to page do  
      = render partial: "shared/page_item", locals: { page: page }
        
